.stats {
	background-color: var(--dark-green);
	padding: 80px 0;
}

.stats__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 50px;
	margin: 0 -15px;
}

.stats__list-item {
	flex-basis: 25%;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
}

.stats__list-item-wrap-img {
	margin-bottom: 15px;
}

.stats__list-item-img {
	margin-bottom: 15px;
}

.stats__list-item-stat-num {
	font-size: 40px;
	font-weight: 400;
}

.stats__list-item-stat-name {
	color: var(--green-blue);
	font-weight: 400;
	font-size: 13px;
	text-transform: uppercase;
}
